img {
  height: 15rem;
}

/* Tab panel */
.tab-panel-default {
  max-width: 50rem;
}

.tab-panel-default .tablist {
  margin-bottom: -1px;
  position: relative;
}

.tab-panel-default .tab {
  box-sizing: border-box;
  padding: 1rem;
  border: 1px solid #333;
  border-bottom: none;
  cursor: pointer;
}

.tab-panel-default .selected {
  background-color: #007bff;
  color: white;
}

.tab-panel-default .tabpanel {
  border: 1px solid #333;
  background-color: #007bff;
  padding: 1rem;
  text-align: center;
  color: white;
}